body {
	background-color: #ff0000;
}

.headertext {
	color: whitesmoke;
	font-family: "Reddit Sans", sans-serif;
	font-weight: 600;
	font-size: medium;
}

.container-inputs,
.container-fields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footertext {
	color: whitesmoke;
	font-family: "Reddit Sans", sans-serif;
	font-weight: 300;
	font-size: small;
}

img {
	height: 40px;
}

h1 {
	font-family: "Reddit Sans", sans-serif;
	color: whitesmoke;
	font-size: 50px;
}

h4 {
	font-family: "Reddit Sans", sans-serif;
	color: whitesmoke;
}
